@import '/_sass/shared.scss';

.title {
    h1 {
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        line-height: 1.8em;
        max-width: 660px;
        margin: 0 auto;
    }

    &.small {
        h1 {
            font-size: 30px;
        }
    }

    &.bold {
        h1 {
            font-weight: bold;
        }
    }
}